*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.border {
  border: 5px solid #FFCD9C;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title {
background-color: #FFCD9C;
color: #CF7A43;
}

.title h1 {
margin: 0px 0px 0px 0px;
padding: 15px 0px 20px 10px;
}

.top {
  float: left;
  position: relative;
  text-align: center;
  width: 25%;
}

.top h3 {
  margin: 0;
}

.friends {
  font-weight: bold;
  padding: 5px;
}

.friendsNum {
  color: red;
}

.allFriends {
  float: right;
  color: red;
  font-weight: bold;
  padding-right: 5px;
}

.clearboth {
  clear: both;
}

img {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  margin: 10px;
}


img:nth-child(1) {
  width: 120px;
  height: 40px;
  border: 0px solid white;
}
